<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>OpenIdConnect with Spring</title>
</head>
<body>
    <p>Login Form</p>
		<p th:if="${param.error}" >There was an error, please try again</p>
			
    	<form th:action="@{/login}"  action="/login" method="post">
			<fieldset>
				<legend>
					<h2>Login</h2>
				</legend>
				<div class="form-group">
					<label for="username">Username:</label> <input id="username"
						type='text' name='username' value="test" />
				</div>
				<div class="form-group">
					<label for="password">Password:</label> <input id="password"
						type='text' name='password' value="test" />
				</div>
				<button type="submit">Login</button>
			</fieldset>
		</form>
    <form th:action="@{/signin/google}"  action="/signin/google" method="post">
    				<button type="submit">SignIn with google</button>
   </form>

</body>
</html>